#foreach( $api in $apis)
    <div id="${api.name}">
            <h3>API name:${api.name}</h3>
            <span class="apiFullPath">API full path:${api.fullPath}</span>

            <div class="comment_block">
                    ${api.block}
            </div>
            <pre>
                <code>
                #foreach ( $param in ${api.params})
                        ${param.name}:${param.tp} ${param.required}
                #end
                </code>
            </pre>

            <div class="returns_list">
                <span>返回结果</span>
                <ul class="returns_list">
                    #foreach( $result in ${api.results} )
                        <li>
                            <code>
								$result.text
                            </code>
                        </li>
                    #end

                </ul>
            </div>
        </li>
    </div>
#end


