#foreach( $api in $apis)
    <div id="${api.name}">
            <h3>${api.name}</h3>

            <h4>Full path</h4>
            <div class="code_div">
                <span class="code_span">${api.fullPath}</span>
            </div>

            <h4>Comments</h4>
            <div class="code_div">
                    <span class="code_span">${api.block}</span>
            </div>
            <h4>Parameters</h4>
            <div class="code_div">
                #foreach ( $param in ${api.params})
                        <span class="code_span">
                            ${param.name}:${param.tp} #if(${param.required}) [<span style="color:#db7093">required</span>] #else [<span style="color:green">optional</span>] #end
                        </span>
                #end
            </div>
            <h4>Return</h4>
            <div class="code_div">
                #foreach( $result in ${api.results} )
                <span class="code_span">
                        $result.text
                </span>
                #end
            </div>
    </div>
#end


